/* You can add global styles to this file, and also import other style files */
@import './app/scss/variables.scss';

html {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 68rem;
  padding: 1.25rem;
}
