<div class="big-box">
  <div *ngFor="let story of stories | async" class="box">
    <h2>{{story.headline.toUpperCase()}}</h2>
    <div>
      <h3>{{story.lead}}</h3>
      <h5>by {{story.byline}}</h5>
      <p>{{story.body}}</p>
      <h5>topics: {{story.topics[0]}}, {{story.topics[1]}}, {{story.topics[2]}}</h5>
    </div>
  </div>

</div>


<!-- <div class="headline-grid-container">
  <div class="header-area">
  </div>
  <div class="top-story-area">
    <div  class="big-story">
      <h1>{{topStory.headline | async}}</h1>
      <h1>{{stories[0].headline | async}}</h1>

    </div>
    <div class="related-story">

    </div>
  </div>
  <div class="second-story-area">
    <div class="big-story">

    </div>
    <div class="related-story">

    </div>
  </div>
  <div class="middle-column-area">
    <div class="story">

    </div>
  </div>
  <div class="right-column-area">
    <div class="story">

    </div>
  </div>
</div> -->
