@import '../scss/variables.scss';

.headline-grid-container {
  display: grid;
  height: auto;
  grid-template-rows: minmax(3rem, 1fr) minmax(15rem, 5fr) minmax(21rem, 7fr);
  // grid-template-rows: 1fr 5fr 7fr;
  grid-template-columns: repeat(4, minmax(12rem, 1fr));
  grid-template-areas: "header header header header"
                       "topstory topstory topstory rightcolumn"
                       "secondstory secondstory middlecolumn rightcolumn";
}

.header-area {
  background-color: $blue;
  grid-area: header;
  width: 100%;
  height: 100%;
}

.top-story-area {
  background-color: $green;
  grid-area: topstory;
  width: 100%;
  height: 100%;
}

.second-story-area {
  background-color: $dark;
  grid-area: secondstory;
  width: 100%;
  height: 100%;
}

.middle-column-area {
  background-color: $yellow;
  grid-area: middlecolumn;
  width: 100%;
  height: 100%;
}

.right-column-area {
  background-color: $orange;
  grid-area: rightcolumn;
  width: 100%;
  height: 100%;
}

.big-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  // min-width: 10rem;
  // max-width: 20rem;
  // min-height: 10rem;
  border: 3px solid hotpink;
  background-color: turquoise;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}
