@import '../scss/variables.scss';

.headline-grid-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr 5fr 7fr;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-template-areas: "header header header header"
                       "topstory topstory topstory rightcolumn"
                       "secondstory secondstory middlecolumn rightcolumn";
}

.header-area {
  background-color: $blue;
  grid-area: header;
}

.top-story-area {
  background-color: $green;
  grid-area: topstory;
}

.second-story-area {
  background-color: $dark;
  grid-area: secondstory;
}

.middle-column-area {
  background-color: $yellow;
  grid-area: middlecolumn;
}

.right-column-area {
  background-color: $orange;
  grid-area: rightcolumn;
}
