<div class="headline-grid-container">
  <div class="header-area">

  </div>
  <div class="top-story-area">
    <div class="big-story">
      <div *ngFor="let story of prioritySorter(stories)">

      </div>
    </div>
    <div class="related-story">

    </div>
  </div>
  <div class="second-story-area">
    <div class="big-story">

    </div>
    <div class="related-story">

    </div>
  </div>
  <div class="middle-column-area">
    <div class="story">

    </div>
  </div>
  <div class="right-column-area">
    <div class="story">

    </div>
  </div>
</div>
